input{
border:1px solid #CFDDDD;
}

body {
margin: 0;
padding : 0;
background: #ccc url(images/bg.jpg) center repeat;
color: #555;
}
			/*WRAP*/
#container {
width: 760px;
margin-left: auto;
margin-right: auto;
padding: 0;
font: 76% "Trebuchet MS","lucida sans", tahoma, sans-serif;
line-height: 1.8em;
background: transparent;
color: #666;
}
			/*TOP BANNER*/
#banner {
padding: 0;
margin-bottom: 0;
height: 225px;
border-bottom:3px solid #fff;
background: #82B64D url(images/wine.jpg);
color: #000;
}
			/*TOP NAVIGATION*/
#navbar ul {
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
font-size: 130%;
text-align: center;
border-bottom:3px solid #fff;
background: #385900;
color: #000;
}
#navbar a {
float:left;
width:6em;
height:30px;
text-decoration:none;
color:#fff;
background:#385900;
padding:0.5em 0.6em;
border-right:1px solid #fff;
}
#navbar a:hover {
background:#8BBA00;
color: #000;
}
#navbar li {
display:inline;
}
			/*MAIN CONTENT*/
#content {
padding: 1em;
margin-left: 200px;
}
			/*SIDEBAR*/
#sidebar {
float: left;
width: 160px;
margin: 0;
padding: 0 1em 0 1em;
}
			/*SIDE MENU*/
#sidebar ul {
list-style: none;
margin: 0 0 20px 0;
padding: 0;
}
#sidebar ul li { 
display: inline;
padding: 0;
margin: 0;
}
#sidebar ul li a {
display: block;
color: #385900;
background: inherit;
text-decoration: none;
margin: 0;
padding: 5px 0 5px 0;
border-bottom: 1px solid #C0C0C0;
}
#sidebar ul li a:hover {
text-decoration: none;
background: #E6E7E9;
color: #DA7910;
}
			/*FOOTER*/
#footer {
clear: both;
width:750px;
padding: 5px;
margin: 0;
font-size: 0.8em;
border-top: 3px solid #fff;
border-bottom: 3px solid #fff;
background: #88C706;
color: #000;
}
#footer a:link, #footer a:visited {
text-decoration : none;
background : inherit;
color : #000; 
}
#footer a:hover {
text-decoration : underline;
background : inherit;
color :  #fff;
}
			/*LINKS*/
a:link, a:visited {
text-decoration : none;
background : inherit;
color : #DA7910;
}
a:hover {
text-decoration : underline;
background : inherit;
color :  #385900; 
}
			/*TYPOGRAPHY*/
h1 {
margin: 0;
padding: 30px 0 0 20px;
font-size: 175%;
letter-spacing: 3px;
}
h2 {
margin-top: 10px;
padding: 10px 0 10px 0;
font-size: 160%;
letter-spacing: 3px;
background : transparent;
color :   #385900;
}
h3 {
margin: 0;
padding: 10px 0 10px 0;
font-size: 160%;
letter-spacing: 3px;
background : inherit;
color :  #385900;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
			/*CLASS*/
.clear {
clear: both;
overflow: hidden;
width: 0;
height: 0;
}
.slogan {
margin: 0 0 0 50px;
letter-spacing: 3px;
}

.post{
background: #E6E7E9;
padding: 3px;
margin: 20px 10px 10px 5px;
font-size: 80%;
}
.post .date {
background: url(images/clock.gif) no-repeat left center;
padding-left: 15px;
margin: 0 15px 0 5px;
}
.post .comments {
background: url(images/comment.gif) no-repeat left center;
padding-left: 15px;
margin: 0 15px 0 5px;
}
.post .readmore {
background: url(images/document.gif) no-repeat left center;
padding-left: 15px;
margin: 0 15px 0 5px;
}